html
	head
		style
			include styles.css
	body
		h1 📷 Temporary image hosting for Wii U screenshots

		div
			| Your image has been uploaded, and will be deleted in 5 minutes.
			| You can find it 
			a(href=image) here.
		div
			img(src=qr, alt="QR code")
		div
			img(src=image, alt="Screenshot")
